#c1{
    font-size: 44px;
    text-align:center;
}
#p1{
    font-size: 50px;
    text-align:center;
}
#c2{
    font-size: 25px;
    text-align:center;
}
#p2{
    font-size:50px;
    text-align:center;
}
#c3{
    font-size:25px;
    text-align:center;
}